<h2>Welcome to Pizza Shop!</h2>

<div class="row">

  <% @products.each do |p|%>
  <div class="col-lg-auto col-md-5 col-sm-7 col-xs-6 item-box">
    <div class="title">
      <%= p.title %>
    </div>

    <div> 
      <img src="<%= p.path_to_image %>" alt=""> 
    </div>

     <div class="description"> 
      <%= p.description %>
    </div>

    <div class="price"> 
      Price: <%= p.price %> RUB
    </div>

    <div> 
      Size: <%= p.size %> cm
    </div>
    <div class="item-btn">
      <button class="btn-sm btn btn-success" onClick="add_to_cart(<%= p.id %>)">Add to cart</button>
    </div>

  </div>
  <% end %>

</div>